.lead__image-container {
  position: relative;
  margin: 64px auto 0 auto;
  width: 984px;
}

@media screen and (max-width: 1280px) {
  .lead__image-container {
    width: calc(928px + (100vw - 1024px)*0.21875);
    margin-top: calc(56px + (100vw - 1024px)*0.03125);
  }
}

@media screen and (max-width: 1024px) {
  .lead__image-container {
    width: min(100%,calc(768px + (100vw - 768px)*0.625));
    margin-top: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image-container {
    width: 100%;
  }
}
