.lead__image-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 64px auto 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead__image-container {
    margin-top: 56px;
  }
}
