.cover__title {
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  max-width: 50%;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: max(32px, calc(32px + (100vw - 320px)*40/448));
    max-width: 80%;
  }
}
@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 90%;
  }
}
